
hrms/backend/.env
hrms/backend/__pycache__/
hrms/backend/*.pyc
hrms/backend/*.pyo
hrms/backend/*.pyd
hrms/backend/.venv/
hrms/backend/venv/


hrms/frontend/hrms-frontend/node_modules/
hrms/frontend/hrms-frontend/dist/
hrms/frontend/hrms-frontend/.env


.env
.DS_Store
*.log
