
backend/.env
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.venv/
backend/venv/


frontend/hrms-frontend/node_modules/
frontend/hrms-frontend/dist/
frontend/hrms-frontend/.env


.env
.DS_Store
*.log
